html, body, div, span, object, iframe, p, blockquote, pre,
abbr, address, cite, code,h1, h2, h3, h4, h5, h6, 
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
h1, h2, h3, h4, h5, h6{
	margin: 20px 0;
}
h1{
	font-size: 22px;
	text-align: center;
}
h2{
	font-size: 15px;
	text-transform: uppercase;
}
body {
	font: 16px/1.5 Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
	min-width: 960px;
	color : #000;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
ol, ul {
    list-style:none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
strong { 
	font-weight: bold; 
}
table {
	border-collapse: collapse;
}
a {
	color:#0000ee;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
/*  Тег <ins> предназначен для выделения текста, который был добавлен в новую версию документа. Подобное форматирование позволяет отследить, какие изменения в тексте документа были сделаны.Браузеры обычно помечают текст в контейнере <ins> как подчеркнутый.*/
ins {
  background-color:#fff;
  color:#000;
  text-decoration:none;
}
/* Тег <mark> помечает текст как выделенный. Такой текст ничем не отличается от обычного, но его вид может быть изменен с помощью стилей. В браузере Chrome и Firefox фоновый цвет текста внутри <mark> выделяется желтым цветом. */
mark {
  background-color:#fff;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}
/*  используется для выделения текста, который был удален в новой версии документа*/
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}
/* change border colour to suit your needs */
hr {
  height:1px;
  border:0;   
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0;
}
input, select {
  vertical-align:middle;
  margin:0;
  padding:0;
  outline:0;
}
img { 
  border: none; 
  vertical-align: top;
}
/* General reset */
#wrapper {
	width: 960px;
	margin: 0 auto 100px auto;
	height: 100%;
}
